<!-- about-area -->
<section class="about-area p-relative">
  <div class="container">
      <div class="row">
          <div class="col-xl-7 col-lg-7">
              <div class="s-about-p pt-115 t-about-p pb-120">
                  <div class="side-title mb-30">
                      <span class="title-line"></span>
                      <span>About Us</span>
                      <h2>Modern Maintenance Inc. Has Been Delivering
                      Results for 40 Years</h2>
                  </div>
                  <div class="s-about-content">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                      aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. eaque ipsa quae ab</p>
                      <a href="#" class="btn">Learn More</a>
                  </div>
              </div>
          </div>
          <div class="col-xl-5 col-lg-5">
              <div class="about-list-wrap p-relative fix">
                  <ul>
                      <li>
                          <div class="al-icon">
                              <img src="assets/img/icon/al_icon01.png" alt="icon">
                          </div>
                          <div class="al-content">
                              <h4>Supper Quality Well Results</h4>
                          </div>
                      </li>
                      <li>
                          <div class="al-icon">
                              <img src="assets/img/icon/al_icon02.png" alt="icon">
                          </div>
                          <div class="al-content">
                              <h4>Professional & Trusted Staff</h4>
                          </div>
                      </li>
                      <li>
                          <div class="al-icon">
                              <img src="assets/img/icon/al_icon03.png" alt="icon">
                          </div>
                          <div class="al-content">
                              <h4>Committed To Success</h4>
                          </div>
                      </li>
                      <li>
                          <div class="al-icon">
                              <img src="img/icon/al_icon04.png" alt="icon">
                          </div>
                          <div class="al-content">
                              <h4>100% Clients Satisfied</h4>
                          </div>
                      </li>
                  </ul>
                  <h2 class="al-parallax-text paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="vertical">what we do</h2>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- about-area-end -->
