<footer class="footer-bg" data-background="assets/img/bg/footer_bg03.jpg">
  <div class="subscribe-area pt-120">
      <div class="container">
          <div class="subscribe-bg white-bg">
              <div class="row align-items-center">
                  <div class="col-lg-4">
                      <div class="subscribe-content t-subscribe-content">
                          <span>Get More Update</span>
                          <h4>Subscribe Our Newsletters</h4>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <form action="#" class="subscribe-form p-relative">
                          <input type="email" name="email" placeholder="Enter your email">
                          <button class="btn">Subscribe</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom s-footer-bottom">
      <div class="container">
          <div class="copyright-wrap pt-20 pb-20">
              <div class="row">
                  <div class="col-12">
                      <div class="footer-b-link w-fb-link text-center">
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">Latest Blog</a></li>
                              <li><a href="#">Project</a></li>
                              <li><a href="#">Contact Us</a></li>
                          </ul>
                      </div>
                      <div class="copyright-text wc-text text-center">
                          <p>Copyright 2019 <span>BDevs</span>. All Rights Reserved</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
