<footer class="footer-bg" data-background="assets/img/bg/footer_bg03.jpg">
  <div class="subscribe-area pt-120">
      <div class="container">
          <div class="subscribe-bg white-bg">
              <div class="row align-items-center">
                  <div class="col-lg-4">
                      <div class="subscribe-content t-subscribe-content">
                          <span>Get More Update</span>
                          <h4>Subscribe Our Newsletters</h4>
                      </div>
                  </div>
                  <div class="col-lg-8">
                      <form action="#" class="subscribe-form p-relative">
                          <input type="email" name="email" placeholder="Enter your email">
                          <button class="btn">Subscribe</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-top pt-80 pb-50">
      <div class="container">
          <div class="row justify-content-between">
              <div class="col-xl-3 col-lg-3 col-sm-6">
                  <div class="footer-widget wf-widget mb-30">
                      <div class="logo mb-20">
                          <a href="index.html"><img src="assets/img/logo/w_footer_logo.png" alt="logo"></a>
                      </div>
                      <div class="footer-text">
                          <p>Lorem ipsum dolor ame consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                          <span>support@sheen.com</span>
                          <span>+821 123 456 88</span>
                      </div>
                      <div class="footer-social">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-2 col-sm-6">
                  <div class="footer-widget wf-widget mb-30">
                      <div class="fw-title mb-20">
                          <h3>Quick Links</h3>
                      </div>
                      <div class="fw-link">
                          <ul>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Our Services</a></li>
                              <li><a href="#">How It Works</a></li>
                              <li><a href="#">Setting</a></li>
                              <li><a href="#">Privacy & Policy</a></li>
                              <li><a href="#">Latest Blog</a></li>
                              <li><a href="#">Contact Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-sm-6">
                  <div class="footer-widget wf-widget mb-30">
                      <div class="fw-title mb-20">
                          <h3>What We Do</h3>
                      </div>
                      <div class="fw-link">
                          <ul>
                              <li><a href="#">Corporate Headquarters</a></li>
                              <li><a href="#">Schools, Educational</a></li>
                              <li><a href="#">Medical & Healthcare</a></li>
                              <li><a href="#">Industrial & Manufacturing</a></li>
                              <li><a href="#">Owner Occupied Buildings</a></li>
                              <li><a href="#">Car Dealerships</a></li>
                              <li><a href="#">Government Buildings</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="footer-widget wf-widget mb-30">
                      <div class="fw-title mb-20">
                          <h3>Download Apps</h3>
                      </div>
                      <div class="f-download-wrap">
                          <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit, sed do</p>
                          <div class="f-download-btn">
                              <a href="#"><img src="assets/img/icon/fd_btn01.png" alt="img"></a>
                              <a href="#"><img src="assets/img/icon/fd_btn02.png" alt="img"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="footer-bottom s-footer-bottom">
      <div class="container">
          <div class="copyright-wrap pt-20 pb-20">
              <div class="row">
                  <div class="col-12">
                      <div class="footer-b-link w-fb-link text-center">
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Services</a></li>
                              <li><a href="#">Latest Blog</a></li>
                              <li><a href="#">Project</a></li>
                              <li><a href="#">Contact Us</a></li>
                          </ul>
                      </div>
                      <div class="copyright-text wc-text text-center">
                          <p>Copyright 2019 <span>BDevs</span>. All Rights Reserved</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
