<!-- services-area -->
<section class="services-area gray-bg pt-115 pb-60">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xl-8 col-lg-10">
              <div class="section-title text-center mb-80">
                  <span>Our Services</span>
                  <h2>We Provide Many Services For Your Regular Life</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="t-single-services text-center mb-60">
                  <div class="t-services-thumb p-relative">
                      <img src="assets/img/services/t_services01.jpg" alt="img">
                  </div>
                  <div class="t-services-content">
                      <h4><img src="assets/img/icon/ts_icon01.png" alt="img"> Plumbing Service</h4>
                      <p>Lorem ipsum dolor sit consectetuadipisi cing elit sed do eiusmot empor</p>
                      <a href="#" class="btn">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="t-single-services text-center mb-60">
                  <div class="t-services-thumb p-relative">
                      <img src="assets/img/services/t_services02.jpg" alt="img">
                  </div>
                  <div class="t-services-content">
                      <h4><img src="assets/img/icon/ts_icon02.png" alt="img"> Car Washing</h4>
                      <p>Lorem ipsum dolor sit consectetuadipisi cing elit sed do eiusmot empor</p>
                      <a href="#" class="btn">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="t-single-services text-center mb-60">
                  <div class="t-services-thumb p-relative">
                      <img src="assets/img/services/t_services03.jpg" alt="img">
                  </div>
                  <div class="t-services-content">
                      <h4><img src="assets/img/icon/ts_icon03.png" alt="img"> Kichen Services</h4>
                      <p>Lorem ipsum dolor sit consectetuadipisi cing elit sed do eiusmot empor</p>
                      <a href="#" class="btn">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="t-single-services text-center mb-60">
                  <div class="t-services-thumb p-relative">
                      <img src="assets/img/services/t_services04.jpg" alt="img">
                  </div>
                  <div class="t-services-content">
                      <h4><img src="assets/img/icon/ts_icon04.png" alt="img"> Carpet Cleaning</h4>
                      <p>Lorem ipsum dolor sit consectetuadipisi cing elit sed do eiusmot empor</p>
                      <a href="#" class="btn">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="t-single-services text-center mb-60">
                  <div class="t-services-thumb p-relative">
                      <img src="assets/img/services/t_services05.jpg" alt="img">
                  </div>
                  <div class="t-services-content">
                      <h4><img src="assets/img/icon/ts_icon05.png" alt="img"> House Cleaning</h4>
                      <p>Lorem ipsum dolor sit consectetuadipisi cing elit sed do eiusmot empor</p>
                      <a href="#" class="btn">Read More</a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="t-single-services text-center mb-60">
                  <div class="t-services-thumb p-relative">
                      <img src="assets/img/services/t_services06.jpg" alt="img">
                  </div>
                  <div class="t-services-content">
                      <h4><img src="assets/img/icon/ts_icon06.png" alt="img"> Window Cleaning</h4>
                      <p>Lorem ipsum dolor sit consectetuadipisi cing elit sed do eiusmot empor</p>
                      <a href="#" class="btn">Read More</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- services-area-end -->
