<section class="online-booking pt-115 pb-120">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-xl-5 col-lg-6">
        <div class="inner-booking-wrap">
          <div class="booking-title mb-35">
            <h4>Login</h4>
          </div>
          <form action="#" class="inner-booking-form">
            <div class="info-box p-relative mb-20">
              <i class="far fa-user-alt"></i>
              <input type="text" placeholder="Email" />
            </div>
            <div class="info-box p-relative mb-20">
              <i class="fal fa-lock"></i>
              <input type="email" placeholder="Password" />
            </div>
            <button class="btn btn-block">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
