<div class="header-top sh-top-b d-none d-lg-block">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="header-top-cta s-hcta display-ib">
                  <span><i class="fal fa-phone"></i> +8 012 3456 7899</span>
              </div>
              <div class="header-social third-header-social display-ib">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </div>
          </div>
          <div class="col-lg-6 text-right">
              <div class="header-top-cta s-hcta display-ib">
                  <span><i class="fal fa-envelope-open"></i> support@gmail.com</span>
              </div>
              <div class="header-top-btn display-ib">
                  <a href="#" class="btn">Let’s talk</a>
              </div>
          </div>
      </div>
  </div>
</div>
